* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body, html {
    height: 100%;
  }

 

  header{
    /* background-color: rgb(219, 247, 247); */
  }
  /* mobile and tab nav start */

  header .navm{
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid lightslategray;
  }

  header .navm .mobile h1{
    margin: 14px;
  }

  header .navm .d1{
    display: flex;
    margin-left: auto;
  }

  header .navm .dropdown{
    display: flex;
    float: right;
    margin: 4px;
  }

  header .navm .d1 .scr{
    display: none;
  }
  /* mobile and tab nav end */

  main{
    margin: 20px;
  }

  main h2{
    display: none;
  }

  main h3{
    display: none;
  }

  main .button{
    padding-left: 100px;
    margin: 30px;
  }

  main img{
    align-items: center;
    width: 400px;
    max-width: 100%;
    display: block;
  }

  footer{
    background-color: rgba(222, 222, 222, 0.792);
    width: 100%;
  }

  footer .conp{
    margin: 12px;
  }

  footer .conp h5{
    padding-top: 10px;
    text-align: center;
  }

  footer .conp p{
    text-align: center;
  }

  footer .comp{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .comp .ima img{
    max-width: 100%;
  }


  @media only screen and (min-width: 700px) and (max-width: 1025px) {
    main h4{
        display: none;
    }

    main h3{
        display: block;
    }

    main img{
        margin: 0 auto;
      }
  }

  @media only screen and (min-width: 1026px){
    header .navm .dropdown{
        display: none;
    }

    header .navm .d1 .scr{
        display: block;
    }

    header .navm .d1 ul{
        margin-top: 20px;
        font-size: 20px;
    }

    main{
        display: flex;
        flex-direction: row;
    }

    main .left{
        max-width: 60%;
    }

    main h2{
        display: block;
    }

    main h4{
        display: none;
    }

    main h3{
        display: none;
    }

    footer .comp{
        display: flex;
        flex-direction: row;
        flex: 2;
        align-items: center;
        justify-content: space-evenly;
      }
  }
